.About{
    display: flex;
    padding: 30px;
    background-color: rgb(234, 223, 215);
    height: 500px;
} 

.About img{
    width: 400px;
}

.About div{
    padding: 40px;
    text-align: justify;
}

@media screen and (max-width: 800px){
    .About{
        display: block;
        height: fit-content;
        text-align: center;
    } 
    .About img{
        width: 300px;
    }
}