*{
    margin: 0px;
    padding: 0px;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body{
    background-color: rgb(10 25 47);
}
.navbar{
    background-color: rgb(60, 72, 91);
    box-shadow: 0px 2px 30px 2px rgb(5, 13, 25);
}

.nav-item a{
color:rgb(204 214 246);
font-family: sans-serif;
}

.nav-item a:hover {
/* background-color:yellow; */
color:rgb(101 255 218);
text-underline-offset: 14px;
text-decoration:underline;
text-decoration-thickness: 6px;
}

#Intro{
    color: rgb(204 214 246);
    position: relative;
    text-align: center;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 10%);
    font-size: 28px;
    display:inline-block;
    /* padding-bottom: 100px; */
    margin-bottom: 300px;
    /* border-bottom: 100px; */
}

#Intro div{
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 0.1em;
}

#Intro div h1{
    font-size: 10em;
    font-family:'Courier New', Courier, monospace;
    margin-bottom: 10px;
}
#Intro div h2{
    font-size: 8em;
    font-family:'Courier New', Courier, monospace;
    margin-bottom: 10px;
}
#Intro div h3{
    font-size: 8em;
    font-family:'Courier New', Courier, monospace;
    margin-bottom: 10px;
}

#Intro div a{
    font-size: 0.8em;
    text-decoration: none;
    color: rgb(101 255 218);
}

#Intro div a:hover{
    font-size: 0.5em;
    text-decoration: underline;
}

#social{
    display: flexbox;
    /* flex-direction: row; */
    justify-content: center;
    list-style: none;
    font-size: 32px;
}

#social li{
    display: inline-block;
    padding: 16px 12px;
}

#social li:hover{
    color: rgb(91 232 201);
}

.What-I-do{
    color: rgb(204 214 246);
    text-align: center; 
    margin: 4px;
    border-color: red;
}

.What-I-do p{
    color: rgb(136 146 176);
}

.What-I-do h2 span{
    color: rgb(91 232 201);
}