
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

*{
    margin: 0;
    padding: 0; 
    background-color:  	#202020;
    text-decoration: none;
    box-sizing: border-box;
}

/* ---------------navigtion bar start------------------------ */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    margin: 6px;
    padding: 4px;
    color: rgb(255, 255, 255);
    font-family: 'Open Sans', sans-serif;
    
    font-weight: normal;
    font-size: 28px;
}

.navbutton{
    margin: 4px;
    color:white;

    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 200;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
}

.navbar li{
    display: inline-block;
}

.navbar li a{
    transition: all 0.2s ease 0s;
    text-decoration: none;
    padding: 12px 12px;
    margin: 5px 5px;
}

.navbar li a:hover{
    background-color: greenyellow;
    color: black;
}

/* ---------------navigtion bar end------------------------ */

.main{
    color: white;
}
.Home{
    position: relative;
    text-align: center;
    color: white;
}

#home_img{
    width:100%;
    height: 100vh;
}

.name{ 
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
}

#adjectives{
    animation: blinking 2s linear infinite;
}

@keyframes blinking{
    0%{
        opacity: 0;
        font-size: 20px;
    }
    50%{opacity: 1;}
    100%{opacity: 0;}
}

.home_content{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-47%, -50%);

    background-color: transparent;
    font-size: 30px;
}