
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=STIX+Two+Text:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

*{
    
    /* background-color:  	#202020; */
    text-decoration: none;
    /* box-sizing: border-box; */
    /* width: 100vw; */
    /* overflow-x: hidden; */
}
body{
    overflow-x: hidden;
    margin: 0;
    padding: 0; 

}

.main > div{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* ---------------navigtion bar start------------------------ */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  	#202020;
    /* position: sticky;
    top: -1; */
}

.logo{
    margin: 6px;
    padding: 4px;

    color: rgb(255, 255, 255);
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 28px;
}

header nav ul li a{
    margin: 4px;
    color:white;

    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 200;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw; 
}

.navbar li{
    display: inline-block;
}

.navbar li a{
    transition: all 0.2s ease 0s;
    text-decoration: none;
    padding: 12px 12px;
    margin: 5px 5px;
}

.navbar li a:hover{
    border-radius: 50px;
    background-color: greenyellow;
    color: black;
}

.checkbtn{
    color:rgb(0, 81, 181);
    font-size: 25px;
    cursor: pointer;
    float: right;
    display: none;
  }

#check{
    display: none;
}

@media screen and (max-width: 900px){
    nav{
        padding: 0px 50px;
        display: none;
    }
    .logo{
        display: none;
    }

    .mediaLogo{
        color: rgb(255, 255, 255);
        font-family: 'Open Sans', sans-serif;
    
        font-weight: normal;
        font-size: 28px;

        margin: 4px;
        position: absolute;
        display: block;
        top: 16px;
        left: 8px;
        /* display: none; */
    }

    .checkbtn{
        display: block;
        /* display: transparent; */
        color: #202020;
    }
    nav ul{
        display: flex;
        gap: 50px;
        flex-direction: column; 
    }

    .navbar{
        margin: 25px;
        justify-content: right;
        display: block;
    }

    .buttons{
    width: 100%;
    height: 90vh;
    top: 100px;
    text-align: left; 
    position: absolute;
    }


    nav ul li{
    display: block;
    line-height: -10px;
    }
    .navbar li a{
        text-decoration: underline;
        line-height: 8px;
    }

    /* #check:checked ~ .buttons{
        position: static;
    }

    #check:checked ~ .mediaLogo{
        display: none;
    } */
}

/* ---------------navigtion bar end------------------------ */

/* Home Section start */
.main{
    color: white;
}
.Home{
    position: relative;
    text-align: center;
    color: white;
    background-color: #070d2b;
}

#home_img{
    width:100%;
    height: 100vh;
}

.name{ 
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
}

#adjectives{
    animation: blinking 2.25s linear infinite;
}

@keyframes blinking{
    0%{
        opacity: 0;
        font-size: 20px;
    }
    50%{opacity: 1; 
    font-size: 30px;}
    100%{opacity: 0 ;
    font-size: 20px;}
}

.home_content{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-47%, -50%);

    background-color: transparent;
    font-size: 30px;
}

.social{
    position: absolute;
    justify-content: center;
    display: flex;
    top: 70%;
    left: 50%;
    width: 100vw;
    transform: translate(-50%, -50%);
    
    background-color: transparent;
}

.social a img{
    margin: 4vw;
    background-color: transparent;
    height: 42px;
}

.social img:hover{
    height: 56px;
}

.social a{
    background-color: transparent;
}

/* Home section end */

/* about section start */
.About{
    /* display: flex;
    align-content: center;*/
    /* justify-content: center; */
    height: 60vh;
    background-color: #26313C;
}



.aboutHeading{
    background-color: #26313C;
    display: block;
    /* padding-top: 8vh; */
    /* margin-bottom: 4vh; */
    text-align: center;

    font-family: 'PT Sans', sans-serif;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 36px;
}

.aboutLine{
    justify-content: center;
    margin-left: 35%;
    background-color: #1B252F;
    border-radius: 100px;
}

.aboutBody{
    margin-left: 5vh;
    margin-right: 5vh;
    text-align: center;
    color: #e0edfa;
    background-color: #26313C;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.5px;
}

@media screen and (max-width: 450px) {
    .About{
        height: 85vh;
    }
    .aboutHeading{
        /* padding-top: 2vh; */
        /* margin-bottom: 2vh; */
    }
    .aboutBody{
        font-size: 14px;
    }
    .aboutHeading{
        font-size: 28px;
    }
}

/* about section end */

/* skills section start */

.Skills{
   position: relative;
   font-size: 24px;
   background-color: black;
}
.skillsImg{
    opacity: 40%;
}

.skillsHeading{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding-bottom: 15px;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    width: fit-content; letter-spacing: 2px;
    background-color: transparent;

    font-family: 'PT Sans', sans-serif;
    letter-spacing: 2px;
    font-weight: lighter;
    font-size: 32px;
}

.Skills h5{
    font-family: 'Open Sans', sans-ser;
    font-size: 16px;
}

.Skills div ul li{
    list-style-type:circle;
}

.comp{
    /* background-color: transparent; */
    position: absolute;
    top: 25%;
    left: 28%;
    transform: translate(-50%, -20%);
}

.comp h5{
    padding-bottom: 6px;
}

.android{
    position: absolute;
    top: 25%;
    left: 68%;
    transform: translate(-50%, -20%);
}

.webdev{
    position: absolute;
    top: 65%;
    left: 24%;
    transform: translate(-50%, -20%);
}


.tools {
    position: absolute;
    top: 67%;
    left: 65%;
    transform: translate(-50%, -20%);
}

.tools-part2{
    position: absolute;
    top: 70%;
    left: 80%;
    transform: translate(-50%, -20%);
}

.comp ul li{
    padding: 6px;
}

.android ul li{
    padding: 12px;
}

.webdev ul li{
    padding: 12px;
}

.tools ul li{
    padding: 12px;
}

@media screen and (max-width: 910px){
    .skillsImg {
        width: 100%;
        /* height:600px; */
    }
    .comp{
        top: 25%;
        left: 28%;
    }
    
    .android{
        position: absolute;
        top: 25%;
        left: 70%;
    }
    
    .webdev{
        /* background-color: transparent; */
        position: absolute;
        top: 60%;
        /* left: 24%; */
    }
    .tools{
        /* background-color: transparent; */
        position: absolute;
        top: 60%;
        left: 60%;
    }
    .tools-part2{
        top: 65%;
    }
}

@media screen and (max-width: 550px){
    .comp{
        top: 25%;
        left: 67%;
    }
    .comp ul li{
        width: 12px;
    }
    .tools{
        /* background-color: transparent; */
        top: 65%;
        left: 20%;
    }
    .tools-part2{
        top: 70%;
        left: 40%;
    }
    .webdev{
        top: 60%;
        left:80%;
    }
    .android{
        left: 25%;
    }
}

/* skills section end */

/* Hobbies section start */

.Hobbies{
    /* height: 600px; */
    width: 100%;
    background-color: #000000;
    /* align-items: flex-start; */
    justify-content: flex-start;
    /* text-align: center; */
    /* justify-content: center; */
}

.hobby{
    margin-top: 0px;
    padding-top: 65px;
    /* border-top: 30px; */
    /* text-align: center; */
    background-color: black;

    font-family: 'Roboto', sans-serif;
    display: block;
    margin-bottom: 4vh;
    text-align: center;
    letter-spacing: 2px;
    /* font-weight: 100; */
    font-size: 32px;
}

.hobbiesLine{
    justify-content: center;
    margin-left: 35%;
    background-color: #e7f18a;
    border-radius: 100px;
}


.Hobbies ul{
    display: block;
    /* margin: 50px; */
    /* align-items: center; */

    margin-bottom: 0px;
    background-color: black;
    /* justify-content: center; */
    list-style-type:circle;
    /* align-self: flex-start; */
}


.Hobbies ul li{
    background-color: black;
    margin-top: 24px;
    /* padding-left: 28px; */
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0.5px;
    /* justify-content: center; */
    /* align-self: center; */
}

@media screen and (max-width:800px){
    .Hobbies{
        /* height: 80vh; */
    }
    .Hobbies ul li{
    /* margin: 8px; */
    letter-spacing: 1.5px;
    /* padding-left: 24px; */
    align-items: flex-start;
    }
    .Hobbies ul{
    margin-left: 70px;
    align-items: flex-start;
    }
}

/* Hobbies section end */

/* Achievements section start */

.Achievements{
    background-color: #1B252F;
    width: 100%;
    /* height: auto; */
    /* margin-right: 40px; */
    /* padding-bottom: 20px; */
    /* display: flex; */
}
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Rubik:wght@500&display=swap');
#achievements{
    background-color: #1B252F;
    font-family: 'PT Sans', sans-serif;
    letter-spacing: 2px;
    font-weight: lighter;
    font-size: 32px;
    display: block;
    /* padding-top: 8vh; */
    /* margin-bottom: 4vh; */
    text-align: center;
}

.Achievements hr{
    margin-left: 35%;
    border-radius: 500px;
    background-color: #F5C256;
}

.Achievements p{
    background-color: #1B252F;
    /* padding-left: 75px; */
    /* padding-top: 30px; */
    /* padding-bottom: 10px; */
    color: rgb(207, 251, 250);
    font-size: 24px;

    /* text-decoration: underline; */
}

.Achievements ul{
    background-color: #1B252F;
    padding-left: 100px;
}
.Achievements ul li{
    background-color: #1B252F;
    color: rgb(207, 251, 250);
    padding: 10px;
    line-height: 32px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.5px;
}

.Achievements ul li a{
    background-color: transparent;
    color: #F5C256;
    text-decoration:  underline;
}

@media screen and (max-width: 440px){
    .Achievements{
        /* height: 95vh; */
    }
    .Achievements p{
        /* padding-left: 55px; */
        font-size: 22px;

    }
    .Achievements ul{
        padding-left: 60px;
        font-size: 18px;
    }
    .Achievements h5{
        margin: 28px;
    }
}
/* Achievements section end */


/*projects section start*/
.Projects{
    background-color: black;
    height: auto;
    padding-top: 70px;
    padding-bottom: 20px;
}

/* @media screen and (max-width:550px){
    .Projects{
        height: 1400px;
    }
} */
.Projects h3{
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    letter-spacing: 2px;
    font-weight: lighter;
    font-size: 32px;
}

.Projects hr{
    margin-top: 20px;
    margin-left: 35%;
}

.Projects ul{
    list-style-type:circle;
    margin-top: 44px;
    margin-left: 40px;
    margin-right: 40px;
}

.Projects ul li{
    margin: 32px;
}

.Projects ul li h5{
    font-size: 20px;
    color: #F5C256;
    padding-bottom: 5px;
}

.Projects ul li p{
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
}

.Projects ul li p a{
    color: #e7f18a;
    text-decoration: underline;
}

@media screen and (max-width: 600px){
    .Projects hr{
        margin-top: 5px;
    }
}

/*projects section end*/


/* goals section starts*/


#Goals hr{
    margin-left: 35%;
    margin-top: 16px;
    margin-bottom: 24px;
    color: red;
    border-radius: 50px;
}
#Goals{
    position: relative;
    background-image: url(goals.gif);
    /* background-opacity: 60%; */
    padding: 24px;
    background-size: cover;
    /* height: 400px; */
    /* backdrop-filter: opacity(0.1); */
}



#Goals h3{
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    letter-spacing: 2px;
    font-weight: lighter;
    font-size: 36px;
}

#Goals p{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0.5px;
}

@media screen and (max-width: 450px){
    #Goals div p{
        /* height: auto; */
        /* padding: 36px; */
        font-size: 16px;
    }
}
/*goals section ends*/


/* contact section start*/

.Contact{
    background-color: #1b252f;
    padding: 40px;

    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0.5px;
}

.Contact h3{
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    letter-spacing: 2px;
    font-weight: lighter;
    font-size: 36px;

    
}

.Contact hr{
    margin-left: 35%;
    /* margin-top: 30px;
    margin-bottom: 30px; */

    color: #e7f18a;
}

.parah{
    text-align: center;
}

@media screen and (max-width: 900px) {
    .Contact p{
        font-size: 18px;
    }

    .Goals div p{
        font-size: 16px;
    }
}

/* contact section end*/

/*footer section start*/
footer{
    background-color: #202020;
    overflow-x: hidden;
}

.ico{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
}

.ico li{
    padding: 24px;
    font-size: 32px;
}

@media screen and (max-width:450px) {
    .ico li{
        padding: 12px;
    }
}

.ico li a{
    color: #6d6d6d;
}

.ico li a:hover{
    color: white;
}

.copyright{
    color: #6d6d6d;
    text-align: center;
    list-style: none;
    line-height: 40px;
}

/*footer section ends*/